*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
    font-family: 'Gelasio', serif;
    font-family: 'Tiro Bangla', serif;
}
.container{
    max-width: 1000px;
    background-color: #e4f9f5;
    margin: 0 auto;
    padding: 10px;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.profile-image{
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
}
.header-two{
display: flex;
padding: 20px;
}
.header-bio{
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    color: #11999e;
}
.header-contact{
    padding: 30px;

}
.header-contact a{
    text-decoration: none;
    

}
.header-contact a:hover{
    color: red;
}
hr{
    border: 3px solid slategrey;
    width: 100%;
    border-bottom: none;

}
/* personal-section start */
#personal-section{

}
.contenr{
    display: flex;
    padding: 10px;

}
.left-div{
    flex: 30%;
}
.right-div{
    flex: 70%;
    text-align: justify;
    
}
.four{
    display: flex;
}
.edu-template-left{
    flex: 45%;
}
.edu-template-left{
    flex: 45%;
}
.bottom{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.bottom p{
    color: white;
    margin-bottom: 10px;
}
